/* Cache Inspector */
#cacheInspector {
position: absolute !important;
top: 20px !important;
left: 260px !important;
z-index: 9000 !important;
min-width: 350px !important;
margin: 0 !important;
padding: 0 0 16px !important;
background: rgba(15, 15, 15, 0.85) !important;
color: rgb(173, 173, 173) !important;
font: 11px Helvetica, Arial, sans-serif !important;
text-align: left !important;
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.50) !important;
-webkit-border-radius: 8px !important;
-webkit-transition: opacity 0.3s ease-out !important;
}
#cacheInspector a {
color: rgb(173, 173, 173) !important;
text-decoration: none !important;
border: none !important;
}
#cacheInspector a:hover {
color: rgb(255, 255, 255) !important;
}

/* Inspector titlebar */
#cacheInspector_titlebar {
height: 20px !important;
background: -webkit-gradient(linear, left top, left bottom, from(rgba(106,107,106, 0.85)), to(rgba(76,75,83,0.85))) !important;
-webkit-border-top-left-radius: 8px !important;
-webkit-border-top-right-radius: 8px !important;
border-bottom: 1px groove rgba(255, 255, 255, 0.2) !important;
cursor: default !important;
}
#cacheInspector_title {
color: rgb(232, 232, 232) !important;
font: 11px Helvetica, Arial, sans-serif !important;
margin: 0 !important;
padding: 4px 0 0 0 !important;
text-align: center !important;
text-shadow: rgba(0, 0, 0, 0.746094) 0px 1px 0px !important;
}
#cacheInspector_closeBtn {
display: block !important;
position: absolute !important;
left: 3px !important;
top: 3px !important;
width: 13px !important;
height: 13px !important;
background: url(hud-icons.png) no-repeat -32px -16px !important;
margin: 0 !important;
padding: 0 !important;
}
#cacheInspector_closeBtn:hover {
background-position: -32px 0 !important;
}
#cacheInspector_closeBtn span {
display: none !important;
}

/* Manifest metadata */
#cacheInspector_body {
margin: 0 !important;
padding: 0 !important; /*text-align: left !important;*/ position: relative !important;
}
#cacheInspector_body h2 {
text-align: left !important;
margin: 4px 0 3px 20px !important;
font: bold 12px Helvetica, Arial, sans-serif !important;
color: rgb(173, 173, 173) !important;
position: relative !important;
height: 14px !important;
border: none !important;
}
#cacheInspector_manifestMetadata p {
margin: 0 0 4px 0 !important;
position: relative !important;
}
#cacheInspector_body .label {
font-weight: bold !important;
margin-right: 4px !important;
}
#cacheInspector_status {
padding: 0 8px 0 40px !important;
position: relative !important;
}
#cacheInspector_manifestURL {
padding: 0 8px 0 40px !important;
position: relative !important;
}
#cacheInspector_manifestMetadata {
border-bottom: 1px solid #222222 !important;
}
#cacheInspector_manifestHeaders {
border-top: 1px solid #474747 !important;
}
#cacheInspector_manifestHeaders, 
#cacheInspector_manifestContent {
border-bottom: 1px solid #474747 !important;
}

#cacheInspector_manifestMetadata {
margin: 0 !important;
padding: 12px 0 8px !important;
}

.closed #cacheInspector_manifestHeaders .wrapper, 
.closed #cacheInspector_manifestContent .wrapper {
padding: 0 !important;
}
.open #cacheInspector_manifestHeaders .wrapper, 
.open #cacheInspector_manifestContent .wrapper {
padding: 4px 2px 4px 4px !important;
}

#cacheInspector_manifestHeaders .wrapper, 
#cacheInspector_manifestContent .wrapper {
margin: 0 !important;
border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
background: rgba(0, 0, 0, 0.20) !important;
color: #9A9A9A !important;
}
#cacheInspector_manifestHeaders pre, 
#cacheInspector_manifestContent pre {
margin: 0 4px 0 0 !important;
padding: 4px 8px !important;
max-height: 300px !important;
max-width: 450px !important;
overflow: auto !important;
font: 11px monospace !important;
line-height: 14px !important;
border: none !important;
}
#cacheInspector_manifestHeaders .highlight {
color: #E0E0E0 !important;
font-weight: bold !important;
}
#cacheInspector_manifestHeaders .problem {
color: #FF6E66 !important;
font-weight: bold !important;
}


/* Manifest content */
#cacheInspector_body h2 .icon {
position: absolute !important;
top: 3px !important;
left: -12px !important;
display: block !important;
width: 16px !important;
height: 16px !important;
background: url(hud-icons.png) no-repeat
}
#cacheInspector_body .open h2 .icon {
background-position: 0 0 !important;
}
#cacheInspector_body .closed h2 .icon {
background-position: -16px 0 !important;
}
#cacheInspector_body .open pre {
display: block !important;
}
#cacheInspector_body .closed pre {
display: none !important;
}

#cacheInspector .httpCode, .statusCode {
font-family: Helvetica, Arial, sans-serif !important;
font-size: 11px !important;
font-style: normal !important;
font-variant: normal !important;
font-weight: bold !important;
width: 31px !important;
position: absolute !important;
top: -1px !important;
left: 5px !important;
font-weight: bold !important;
color: rgb(51, 51, 51) !important;
text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px !important;
-webkit-border-radius: 6px !important;
-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.20) !important;
/*opacity: 0.35 !important;*/
text-align: center !important;
margin: 0 !important;
padding: 0 !important;
}

#cacheInspector .statusCode {
color: #3F3F3F !important;
background: #5a5a5a !important;
text-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px !important;
}
#cacheInspector *:hover > .statusCode {
color: #474747 !important;
background: #A3A3A3 !important;
text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px !important;
}
#cacheInspector .statusCode.checking, 
#cacheInspector .statusCode.downloading {
color: #162C3A !important;
background: #3A80A4 !important;
}
#cacheInspector *:hover > .statusCode.checking, 
#cacheInspector *:hover > .statusCode.downloading {
background: #4B99C9 !important;
}
#cacheInspector .statusCode.updateready {
color: #293A15 !important;
background: #68913F !important;
}
#cacheInspector *:hover > .statusCode.updateready {
background: #89BA54 !important;
}

#cacheInspector .httpCode {
margin: 0 !important;
padding: 0 !important;
color: #3F3F3F !important;
background: #A3A3A3 !important;
}
*:hover > .httpCode, 
#cacheInspector .httpCode.successful {
color: #293A15 !important;
background: #68913F !important;
}
#cacheInspector *:hover > .httpCode.successful {
background: #89BA54 !important;
}
#cacheInspector .httpCode.redirect {
color: #162C3A !important;
background: #3A80A4 !important;
}
#cacheInspector *:hover > .httpCode.redirect {
background: #4B99C9 !important;
}
#cacheInspector .httpCode.clientError {
color: #35251C !important;
background: #B87D59 !important;
}
#cacheInspector *:hover > .httpCode.clientError {
background: #D98041 !important;
}
#cacheInspector .httpCode.serverError {
color: #371C1D !important;
background: #A33C42 !important;
}
#cacheInspector *:hover > .httpCode.serverError {
background: #BF2C2C !important;
}

/* @group Custom Scrollbars */
/* Scrollbar graphics from: http://www.brandonwalkin.com/bwtoolkit/ */
#cacheInspector ::-webkit-scrollbar {
width: 11px !important;
height: 11px !important;
margin: 8px !important;
}
/* Turn on single button up on top, and down on bottom */
#cacheInspector ::-webkit-scrollbar-button:start:decrement,
#cacheInspector ::-webkit-scrollbar-button:end:increment {
display: none !important;
}
/* Turn off the down area up on top, and up area on bottom */
#cacheInspector ::-webkit-scrollbar-button:start:increment,
#cacheInspector ::-webkit-scrollbar-button:end:decrement {
display: none !important;
}
#cacheInspector ::-webkit-scrollbar-track {
-webkit-border-image: url(scrollbar-track.png) 5 / 5px stretch !important;
margin: 8px !important;
}
/* Top area above thumb and below up button */
#cacheInspector ::-webkit-scrollbar-track-piece:start {
border: none !important;
}
/* Bottom area below thumb and down button */
#cacheInspector ::-webkit-scrollbar-track-piece:end {
border: none !important;
}
/* Track below and above */
#cacheInspector ::-webkit-scrollbar-track-piece {
background-color: transparent !important;
}
/* The thumb itself */
#cacheInspector ::-webkit-scrollbar-thumb {
-webkit-border-image: url(scrollbar.png) 5 / 5px stretch !important;
}
/* Corner */
#cacheInspector ::-webkit-scrollbar-corner {
background-color: transparent !important;
}
/* @end */