/* Basic HUD inspector style */
#manifestInspector {
	display: relative;
	position: absolute;
	top: 20px; left: 20px; z-index: 9000;
	min-width: 250px; max-width: 600px;
	margin: 0; padding: 4px 16px 8px;
	background: rgba(0, 0, 0, 0.75) url(hud-title-bg.png) repeat-x;
	color: rgb(255, 255, 255);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
	-webkit-border-radius: 8px;
}
#manifestInspector_closeBtn {
	display: block;
	position: absolute;
	left: 3px; top: 3px;
	width: 13px; height: 13px;
	background: url(hud-icons.png) no-repeat -32px -16px;
	margin: 0; padding: 0;
}
#manifestInspector_closeBtn:hover { background-position: -32px 0; }
#manifestInspector_closeBtn span { display: none; }
#manifestInspector_title {
	margin: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.746094) 0px 1px 0px;
}
#manifestInspector_body {
    max-height: 500px;
    overflow: auto;
}

/* Custom scrollbars go here, eventually. */
/*::-webkit-scrollbar { width: 13px; height: 13px; }*/
/*#manifestInspector::-webkit-scrollbar-track { background: red; }*/
/*#manifestInspector::-webkit-resizer { display: none; }*/
